// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

.flexbox() {
	display: flex;
	flex-flow: row wrap;
}

html, body {
	height: 100%;
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}

.noline() {
	text-decoration-line: none;
}

.expbox(){
	padding: 1rem;
	border-radius: 1rem;
	font-weight: bold;
}

@regfont: 1.6rem;

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 3rem;
	font-weight: 50;
}

p, span, li, a{
	font-size: @regfont;
}

.content {
	width: 90rem;
	height: 100%;
	margin: auto;
	@media (max-width: 500px){
		width: 100%;
	}
	header {
		.flexbox();
		@media (max-width: 500px){
			width: 100%;
			margin: 0;
			display: flex;
		}
		nav {
			.flexbox();
			width: 100%;
			justify-content: flex-end;
			@media (max-width: 500px){
				width: 100%;
				flex-flow: column nowrap;
				align-content: center;
				justify-content: center;
			}

			a {
				font-size: @regfont;
				margin: 1rem 1.5rem;
				.noline();
				color: black;
				@media (max-width: 500px){
					border-top: 1px solid gray;
					width: 100%;
					margin: 0;
					text-align: center;
					padding: 1rem;
				}
			}

			a:hover {
				color: gray;
			}
		}
	}

	.banner {
		margin-top: 3rem;
		background: gray;
		padding-bottom: 2rem;
		border: 0rem solid white;
		border-radius: 1rem;
		padding-bottom: 4rem;
		@media (max-width: 500px){
			width: 100%;
			padding-top: .5rem;
		}

		img {
			height: 20rem;
			margin: 3rem 0rem 0rem 8rem;
			border-radius: 10rem;
			@media (max-width: 500px){
				display: none;
			}
		}

		h1 {
			margin: 1rem 0rem 0rem 8rem;
			@media (max-width: 500px){
				margin: 3rem;
			}
		}

		p {
			margin: .5rem 0rem 2rem 8rem;
		}

		.button	{
			margin: 3rem 0rem 0rem 8rem;
			border: .2rem solid black;
			border-radius: .5rem;
			padding: 1rem;
			background: darkgray;
			
		}

		.button:hover {
			background: gray;
		}

		a {
			.noline();
			color: black;
		}

		a:hover {
			color: white;
		}

	}

	.about {
		.flexbox();
		margin-top: 2rem;
		justify-content: space-between;

		.aboutme {
			width: 40%;
			margin: 0 auto;
			margin-top: 5rem;
			p {
				margin-top: .5rem;
			}
		}

		.skills {
			width: 49%;
			background: #a82929;
			border-radius: 1rem;
			padding: .5rem;
			ul {
				margin-top: .5rem;
				list-style-type: disc;
				list-style-position: inside;
				li {
					
					padding: 1rem;
				}
			}
		}
	}

	.exphead {
		margin-top: 2rem;
	}

	.experience {
		.flexbox();
		justify-content: space-evenly;
		margin-top: 2rem;

		.sonic {
			width: 30%;
			margin-right: .5rem;
			background: gray;
			.expbox();
		}

		.blueskysat {
			width: 30%;
			margin: 0rem .5rem 0rem .5rem;
			background: #a82929;
			.expbox();
		}

		.hamilton {
			width: 30%;
			margin: 0rem .5rem 0rem .5rem;
			background: gray;
			.expbox();
		}
	}

	.contact {
		margin-top: 2rem;
		a{
			.noline();
			color: black;
		}

		a:hover {
			color: #a82929;
		}
	}
	
	footer {
		text-align: center;
		font-weight: bold;
		margin: 5rem 0rem;
	}
	
}


